/* p {
    color: rgb(0, 255, 4);
} */

/* Additional CSS rules */
body {
  background-color: rgb(231, 246, 232);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  color:rgb(14, 110, 15);
}

.square {
    height: 100px;
    width: 100px;
    background-color: #ff0000;
    }

#moneytree {
position: relative;
/* padding-left: 20%; */
padding-top: 10%;
/* width: 250px;
height: 200px; */
padding: 10px;
scale: 2.5;
}

#moneytree1 {
    position: relative;
    padding-left: 10%;
    padding-top: 10%;
    width: 200px;
    height: 200px;

    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

.budgeting:hover { 
    -ms-transform: scale(6.6); 
    /* IE 9 */ 
    -webkit-transform: scale(1.5); 
    /* Safari 3-8 */ 
    transform: scale(1.5); 
} 

#saplingtext{
    font-size: 35px;
    color: rgb(226, 138, 22);
}


#saving{
    position: relative;
    padding-top: 15%;
    padding-left: 20%;
}

.budgeting{
    transition: transform .4s;
}

.budgeting_arrow{
    position:relative;
    padding-top: 15%;
    padding-left: 15%;
}


  /* ///////////// */

.arrow {
    position: absolute;
    top: 25%;
    left: 130%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    /* cursor: pointer; */
}

.arrow span {
    display: block;
    width: 4.5vw;
    height: 4.5vw;
    border-bottom: 10px solid rgb(242, 251, 194);
    border-right: 10px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* money falling */

#gimmick {
    display:block;
    pointer-events:none;
    position: absolute;
    top:0;
    left:0;
}

